@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-custom {
  overflow-y: scroll;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-track {
  border-radius: 16px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #fde68a;
}
